.navbar {
    background-color: #f8f9fa;
    padding: 10px;
  }
  
  .p-menubar {
    background-color: transparent;
  }
  
  .p-menuitem-link {
    color: #000;
  }
  
  .p-menuitem-link:hover {
    color: #007bff;
  }